h1 {
    font-family: 'Raleway', sans-serif;
    color: red;
}

#picture{
    
    margin-right: 30px;
    width: 1000px;
    height: 200px;    
}

body{
    margin: 30px;
}

p{
    text-align: justify;
}

.img{
    text-align: center;
}

table{
    width: 40%;   
    border: 1px solid #000;
}

th,td{
    width: 20%;
    text-align: justify;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: separate;
    padding: 0.3em;
}
